{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>

<link rel="stylesheet" type="text/css" href="/vali/css/chosen.css" />
<script src="/vali/js/plugins/chosen.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<div class="app-content ">
	<div class="row" id="dataEdit">
		<div class="col-md-12">
			<div id='filterMap'>
	        	<h4 class="float-left">Hide filters</h4><i style="padding-left: 10px;" class="fa fa-cog filters"></i>    
	        </div>
		</div>
		<div class="filterSection form-group col-md-12">
			<div class="form-group col-md-12">
				<div class="col-md-2" id="formSelect" style="padding-left: 0px;">
					<span class="badge badge-info">Form List</span>
					<select class="form-control">
						<option value="Select" data-parent-id="-1" data-id="-1">Select</option>
						{% for key,value in forms %}
						<option value="{{value.f_id}}">{{value.description}}</option>
						{% endfor %}
					</select>
				</div>
			</div>
			{% for key,value in regionHirearchy %}
			<div class="col-md-2 float-left regionSelect" id='{{key}}-mast'>
				<span class="badge badge-info">{{key}}</span>
				<select class="form-control" id="{{key}}">
				<option data-parent-id="-1" data-id="-1">Select</option>
				{% for k,v in value %}
					<option data-id="{{v.id}}" data-parent-id="{{v.parent_id}}">{{v.name}}</option>
				{% endfor %}
				</select>
			</div>
			{% endfor %}
			<div class="col-md-3 float-left">
				<button id='getData' class="col-md-3 float-left btn btn-sm btn-info">Go</button>
			</div>
		</div>
		<div class="form-group col-md-12">
			<div id="tabs" class="col-md-12"></div>
		</div>
		<div class="form-group col-md-12 table-responsive" id="plots">
			<table class="table table-dark cell-border" id="plotDetails">
				<tr>
					<td>
						 Select the region to load the plot details.
					</td>
				</tr>
			</table>
		</div>
	</div>
	<script src="/vali/js/plugins/sweetalert.min.js"></script>
	<script src="/vali/js/plugins/jquery.dataTables.min.js"></script>
	<script src="/vali/js/plugins/dataTables-fixedColumns.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js "></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	<script src="/vali/js/dataEdit.js"></script>
</div>
<style type="text/css">
	.app-content
	{
		padding: 0px;
	}
</style>
{% endblock %}