{% extends "layout.html" %}

{% block title %} {{ formDetails['description'] }} {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.css" />
<link rel="stylesheet" type="text/css" href="/vali/css/chosen.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.2/css/buttons.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/vali/css/jquery.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="/vali/css/dataTable-reset.css">
<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/plug-ins/1.10.19/features/searchHighlight/dataTables.searchHighlight.css">
<style type="text/css">
table.dataTable span.highlight {
  background-color: #ccff00;
  color: black;
}

#exportRaw
{
	border: 1px solid #999999;
    padding: 6px;
    margin-top: -3px;
    font-weight: 500;
    font-size: 0.88em;
	display: inline-block;
	cursor: pointer;
}

#exportRaw a
{
	text-decoration: none;
	color: black;
}
#formDetails_processing
{
	background: #212529;
    color: #ccff00;
}
.tile-title {
	float: left;
	color: #FFF;
}
.app-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}
.app-content {
	min-height: calc(100vh - 60px);
}
#dataEdit {
	background: none;
}
#tabs {
	float: right;
	width: 50%;
	text-align: right;
}
#tabs .chosen-container-multi {
	width: 80% !important;
}
#tabs .chosen-container-multi .chosen-results {
	text-align: left;
}
div.dt-buttons {
	float: right !important;
	margin-left: 10px;
}
#dataEdit div.dataTables_wrapper div.dataTables_processing {
    top: 0;
	left: 100px;
	width:100%;
	height: 100%;
}
</style>
<div class="app-content ">
	<div id="dataEdit">
		<div class="form-group col-md-12">
			<h3 class="tile-title">{{ formDetails['description'] }}</h3>
			<div id="tabs"><span class="badge badge-info">Categories</span>
				<select multiple="" id="catId" style="display: none;">
					<option value="all">All</option>
					{% for section,fields in format %}
					<option value="{{ section }}">{{ section }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="form-group col-md-12 table-responsive">
			<div class="tile">
			<table id="formDetails" class="table table-dark cell-border" data-name="{{ formDetails['description'] }}" data-form="{{ formId }}" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th rowspan="1" colspan="1"></th>
						<th colspan="1" colspan="1"></th>
						<th colspan="1" colspan="1"></th>
						{% set i = 0 %}
						{% for section,fields in format %}
							{% set alt_class = ((i%2) == 0) ? 'alt' : '' %}
							{% if 'fetch_pv' in fields|keys and fields['fetch_pv']['id'] in attrValues|keys %}
								<th class="{{ alt_class }}" colspan="{{ attrValues[fields['fetch_pv']['id']]|length }}">{{ section }}</th>
							{% elseif 'group' in fields|keys %}
								<th class="{{ alt_class }}" colspan="{{ fields['group']['columns']|length }}">{{ section }}</th>
							{% elseif 'combine' in fields|keys %}
								<th class="{{ alt_class }}" colspan="{{ fields['combine']['columns']|length + 1 }}">{{ section }}</th>
							{% elseif 'fetch_fauna' in fields|keys and fields['fetch_fauna']['id'] in attrValues|keys %}
								<th class="{{ alt_class }}" colspan="{{ fields['fetch_fauna']['habit']|length * 2 }}">{{ section }}</th>
							{% else %}
								<th class="{{ alt_class }}" colspan="{{ fields|length }}">{{ section }}</th>
							{% endif %}
							{% set i = i+1 %}
						{% endfor %}
					</tr>
					<tr class="table-headers">
						<th rowspan="1" colspan="1" style="text-align:center;">Sr No.</th>
						<th>Survey ID</th>
						<th class="status">Status</th>
						{% set i = 0 %}
						{% for section,fields in format %}
							{% set alt_class = ((i%2) == 0) ? 'alt' : '' %}
							{% set section_name = section|lower|replace({' ':'-'}) %}
							{% for key,field in fields %}
								{% if key == 'fetch_pv' and field['id'] in attrValues|keys %}
									{% for akey,avalue in attrValues[field['id']] %}
										<th class="{{ section_name }} {{ alt_class }}">{{ avalue }}</th>
									{% endfor %}
								{% elseif key == 'group' %}
									{% for gkey,gvalue in field['columns'] %}
										<th class="{{ section_name }} {{ alt_class }}">{{ gvalue }}</th>
									{% endfor %}
								{% elseif key == 'combine' %}
									<th class="{{ section_name }} {{ alt_class }}">{{ field['name'] }}</th>
									{% for gkey,gvalue in field['columns'] %}
										{% if gkey == 'fetch_pv' and gkey != '0' %}
											{% for akey,avalue in attrValues[gvalue['id']] %}
												<th class="{{ section_name }} {{ alt_class }}">{{ avalue }}</th>
											{% endfor %}
										{% else %}
											<th class="{{ section_name }} {{ alt_class }}">{{ gvalue }}</th>
										{% endif %}
									{% endfor %}
								{% elseif key == 'fetch_cb' %}
									<th class="{{ section_name }} {{ alt_class }}">{{ field['name'] }}</th>
								{% elseif key == 'fetch_fauna' and field['id'] in attrValues|keys %}
									{% for akey,avalue in field['habit'] %}
										<th class="{{ section_name }} {{ alt_class }}">Sighting traces of flagship species: {{ avalue }}</th>
										<th class="{{ section_name }} {{ alt_class }}">{{ avalue }} Comments</th>
									{% endfor %}
								{% else %}
									<th class="{{ section_name }} {{ alt_class }}">{{ key }}</th>
								{% endif %}
							{% endfor %}
							{% set i = i+1 %}
						{% endfor %}
					</tr>
				</thead>
			</table>
		</div>
		</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script src="/vali/js/plugins/sweetalert.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="//cdn.datatables.net/plug-ins/1.10.19/features/searchHighlight/dataTables.searchHighlight.js"></script>
	<script src="//bartaz.github.io/sandbox.js/jquery.highlight.js"></script>
	<script src="/vali/js/plugins/dataTables-fixedColumns.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.flash.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js "></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.5.2/js/buttons.print.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>
	<script src="/vali/js/plugins/chosen.js"></script>
	<script src="/vali/js/list-data.js"></script>
</div>
<style type="text/css">
	.app-content
	{
		padding: 0px;
	}
</style>
{% endblock %}