{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}

<script>
	var baseurl = '{{baseurl}}';
</script>
<style type="text/css">
	#mapPreview
	{
		border: 1px solid #cecece;
	}
	#mapChckList
	{
		max-height: 300px;
		overflow-y: scroll;
	}
	.slider {
	  -webkit-appearance: none;
	  width: 100%;
	  height: 5px;
	  border-radius: 5px;   
	  background: #d3d3d3;
	  outline: none;
	  -webkit-transition: .2s;
	  transition: opacity .2s;
	}
	.slider::-webkit-slider-thumb {
	  -webkit-appearance: none;
	  appearance: none;
	  width: 10px;
	  height: 10px;
	  border-radius: 50%; 
	  background: #191C76;
	  cursor: pointer;
	}

	.slider::-moz-range-thumb {
	  width: 10px;
	  height: 10px;
	  border-radius: 50%;
	  background: #191C76;
	  cursor: pointer;
	}
	.opacity
	{
		display: none;
	}
	.showSettings
	{
		cursor: pointer;
	}
</style>
<div class="app-content ">
	<div class="tile">
		<form class="form" method="post" action="/GisDashboard/addBoundary" enctype="multipart/form-data">
			<div class="row">
				<div class="form-group col-md-12">
					<h3 class="tile-title">Add New Map</h3>
				</div>
				<div class="col-md-12 alert alert-info">
					<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
					<b>Data Format Requirements</b>
					<ul>
						<li>The point file must be in name, latitude, longitude format.</li>
						<li>Raster files should be in GeoTiff format only.</li>
						<li>Vector files should be in KML format only.</li>
					</ul>
				</div>
				<div class="row col-md-4">
					<div class="animated-radio-button col-md-4">
		              <label>
		                <input type="radio" name="mapType" value="point" checked=""><span class="label-text">Point</span>
		              </label>
		            </div>
					<div class="animated-radio-button col-md-4">
		              <label>
		                <input type="radio" name="mapType" value="raster"><span class="label-text">Raster</span>
		              </label>
		            </div>
		            <div class="animated-radio-button col-md-4">
		              <label>
		                <input type="radio" name="mapType" value="vector">
		                	<span class="label-text">Polygon</span>
		                </input>	
		              </label>
		            </div>
		        </div>
		    </div>
			<div class="row">
				<div class="form-group col-md-4">
		          <label class="control-label">Layer name</label>
		          <input class="form-control" name="niceName" type="text" placeholder="Enter name of Layer">
		        </div>
		        <div class="form-group col-md-4">
		          <label class="control-label">Select file to upload</label>
		          <input class="form-control" type="file" name="uploadFile">
		        </div>
		        <div class="form-group col-md-2">
		        	<input type="submit" class="btn btn-primary" value="Submit" style="margin-top: 31px;" />
		        </div>
			</div>
    	</form>
    	<div class="preview row">
    		<div class="col-md-4">
        		<h3 class="tile-title">Map Checklist</h3>
				<div class="bs-component">
		            <ul class="nav nav-tabs">
		                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#pd">Point Data</a></li>
	            	    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rd">Raster data</a></li>
	            	    <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#vd">Polygon data</a></li>
		            </ul>
		            <div class="tab-content" id="mapChckList">
		                <div class="tab-pane fade active show" id="pd">
		                	{% if uploadedPointData is empty %}
		                		<div class="alert alert-warning">No point data added</div>
		                	{% else %}
				                <table class="table table-stripped" id="pointLayers">
				                	<tr>
				                		<th>Layer Name</th>
				                		<th>Visible</th>
				                		<th>Verified</th>
				                	</tr>
				                	{% for data in uploadedPointData %}
				                	<tr>
					                	<td class="col-md-6">
					                		{{data.nice_name}}
					                	</td>
					                	<td class="btnLyrSwitch col-md-6">
					                		<div class="toggle">
							                  <label>
							                    <input type="checkbox" data-attr-id="{{data.id}}"><span class="button-indecator"></span>
							                  </label>
							                </div>
					                	</td>
					                	<td>
					                		<div class="animated-checkbox chkVerify">
								              <label>
								                <input type="checkbox" {{ data.isverified ? 'checked' : ''}} data-attr-id="{{data.id}}" data-attr-table="{{tablePoint}}">
								                <span class="label-text"></span>
								              </label>
								            </div>
					                	</td>
				                	</tr>
				                	{% endfor %}
				                </table>
		                  	{% endif %}
		                </div>
		                <div class="tab-pane fade" id="rd">
		                	{% if uploadedRasterData is empty %}
		                		<div class="alert alert-warning">No raster data added</div>
		                	{% else %}
								<table class="table table-stripped" id="rasterLayers">
									<tr>
										<th>Layer Name</th>
										<th>Visible</th>
										<th>Verified</th>
										<th>Opacity</th>
									</tr>
									{% for data in uploadedRasterData %}
									<tr>
										<td class="col-md-6">
											{{data.nice_name}}
										</td>
										<td class="btnLyrSwitch col-md-6">
											<div class="toggle">
											<label>
												<input type="checkbox" data-attr-lyr="ifmt:{{data.layer_name}}">
												<span class="button-indecator"></span>
											</label>
											</div>
										</td>
										<td id="chkTd">
											<div class="animated-checkbox chkVerify">
											<label>
												<input type="checkbox" {{ data.isverified ? 'checked' : ''}} data-attr-id="{{data.id}}" data-attr-table="{{tableRaster}}">
												<span class="label-text"></span>
											</label>
											</div>
										</td>
										<td class="showSettings"><i class="fa fa-cog"/></td>
									</tr>
									<tr class="opacity">
										<td colspan=4>
											<input type="range" min="1" max="100" value="100" class="slider">
										</td>
									</tr>
									{% endfor %}
								</table>
		                	{% endif %}
		                </div>
		                <div class="tab-pane fade" id="vd">
		                	{% if uploadedVectorData is empty %}
		                		<div class="alert alert-warning">No vector data added</div>
		                	{% else %}
		                		<table class="table table-stripped" id="vectorLayers">
				                	<tr>
				                		<th>Layer Name</th>
				                		<th>Visible</th>
				                		<th>Verified</th>
				                		<th>Opacity</th>
				                	</tr>
				                	{% for data in uploadedVectorData %}
				                	<tr>
					                	<td class="col-md-6">
					                		{{data.nice_name}}
					                	</td>
					                	<td class="btnLyrSwitch col-md-6">
					                		<div class="toggle">
							                  <label>
							                    <input type="checkbox" data-attr-path="{{data.file_name}}">
						                    	<span class="button-indecator"></span>
							                  </label>
							                </div>
					                	</td>
					                	<td id="chkTd">
					                		<div class="animated-checkbox chkVerify">
								              <label>
								                <input type="checkbox" {{ data.isverified ? 'checked' : ''}} data-attr-id="{{data.id}}" data-attr-table="{{tableVector}}">
								                <span class="label-text"></span>
								              </label>
								            </div>
					                	</td>
					                	<td class="showSettings"><i class="fa fa-cog"/></td>
				                	</tr>
				                	<tr class="opacity">
				                		<td colspan=4>
					                		<input type="range" min="1" max="100" value="100" class="slider">
					                	</td>
									</tr>
				                	{% endfor %}
				                </table>
		                	{% endif %}
		                </div>
		            </div>
	            </div>
	            <div id="info">
	            </div>
        	</div>
    		<div id='mapPreview' class="col-md-8">
    		</div>
    	</div>
	</div>
</div>
<script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyB0_rV2K9l3QoLwIJiX448CsXw9W7-vZpU"></script>
<script src="/vali/js/ol3.js"></script>
<script src="/vali/js/ol3gm.js"></script>
<script src="/vali/js/ol-popup.js"></script>
<script src="/vali/js/addBoundary.js"></script>
<script type="text/javascript">
	$('.showSettings').on('click', function(){
		$(this).parent().next().toggle();
	});
	$(".opacity input").on('change',function(){
		val = parseFloat($(this).val()/100);
		nm = $(this).attr('data-lyr-nm');
		layerAdded[nm].setOpacity(val);
	});
</script>
{% endblock %}