{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<script>
	var baseUrl = "{{ url }}";
	var username = "{{ create_by }}";
	var verifiedStatus = {{params.verified}};
	var dpurl = "{{params.dpurl}}";
</script>
<link rel="stylesheet" href="/vali/css/ol3.css" type="text/css" />
<link rel="stylesheet" href="/vali/css/map.css" type="text/css" />
<div class="app-content">
	<div class="row">
		{% if params.verified == 0 %}
			<div class="col-md-12 col-sm-12" height="300px;">
				<div class="tile">
					<div class="alert alert-danger">
						<h6>Boundaries are not verified. Please verify.</h6> 
						<br />
						<h6>You will be redirected to Verification -> Boundary Verification in <span id="secCounter" class="blink">10</span> seconds. <a href="/DataVerification/verifyAdminBoundaries">Redirect now</a></h6>
					</div>
				</div>
			</div>
		{% else %}
			<div class="col-md-4 col-sm-12">
				<div class="tile">
					<div class="row col-12">
						<h3 class="tile-title col-6">Layers</h3>
						<div id="addBoundary" class="btn btn-info col-6" style="height: 37px;" onclick="window.location = '/GisDashboard/addBoundary'">Add Boundary</div>
					</div>
					<div id="layerController" style="overflow-y: auto; overflow-x: hidden;"></div>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div height="300px" width="100%">
						<div id="map" style="position: relative;" height="300px">
							<div id="legend">
								<div id="legendTitleBar">Legend</div>
								<div id="legendContent"></div>
							</div>
						</div>
					</div>
			  
			</div>
		{% endif %}
	</div>
</div>
<script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyB0_rV2K9l3QoLwIJiX448CsXw9W7-vZpU"></script>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
<script src="/vali/js/ol3.js"></script>
<script src="/vali/js/ol3gm.js"></script>
<script src="/vali/js/ol-popup.js"></script>
<script src="/vali/js/gis-dashboard.js"></script>
{% endblock %}