{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-4 col-sm-12">
		  <div class="tile">
			<h3 class="tile-title">How to upload forests' admin boundaries?</h3>
			<div class="tile-body">
				<p>
					You need to upload the Forest boundaries in shape file format for the predefined admin hierarchy. The forest admin hierarchy can be defined to the site administrator and accordingly the hierarchy will be displayed here.<br/>In most cases it would be Division, Range Block, Compartment & Plots. You will have to upload the shapefile for each of these before proceeding.
					<p>
						Once uploaded the file needs to be verified <a href="/DataVerification/verifyAdminBoundaries">here</a>.
					</p>
				</p>
				<br>
				<p><b>Shape file format:</b></p>
				<p>
					Field 1: id<br/>
					Field 2: name<br/>
					Field 3: geom<br/>
				</p>
			</div>
			<!--div class="tile-footer"><a class="btn btn-primary" href="#">Link</a></div-->
		  </div>
		</div>
		<div class="col-md-8 col-sm-12">
		  <div class="tile">
			<h3 class="tile-title">Upload Forest Admin Boundaries</h3>
			<div class="tile-body">
				{% set flag = 0 %}
				{% set flag1 = 0 %}
				{% for key,value in params['forestAdminHierarchy'] %}
				<form id="uploadFAB_{{ key+1 }}" name="uploadFAB_{{ key+1 }}" method="post" action="/DataUpload/postForestAdminBoundaries" enctype="multipart/form-data" >
				<div class="row data-upload-wrapper {{ flag  == 1 ? 'disabled'}} {{ value['uploadedStatus'] == 0 and flag  == 0 ? 'active'}} " style="margin-bottom: 20px;margin-right: 2px; margin-left: 2px;">
					<div class="col-md-1"><span class="badge-custom {{ flag  == 1 ? 'badge-secondary' : 'badge-light'}}">{{ key+1 }}</span></div>
					<div class="col-md-9" id="bndTypeContainer">
						{% if value['uploadedStatus'] == 0 %}
						<div class="form-group" ng-class="{'has-error': uploadFAB_{{ key+1 }}.file_{{ value['id'] }}.$touched && uploadFAB_{{ key+1 }}.file_{{ value['id'] }}.$error.required , 'has-success': uploadFAB_{{ key+1 }}.file_{{ value['id'] }}.$valid }">
							<label for="exampleSelect1">Upload {{ value['name'] }}</label>
							{% if  flag  == 0 %}
								<input class="form-control-file data-upload-file" id="file_{{ value['id'] }}" name="file_{{ value['id'] }}" type="file" accept="application/zip" aria-describedby="fileHelp" required><small class="form-text text-muted" id="fileHelp" style="color: #fff !important;">Upload a shape file of {{ value['name'] }} in zip format</small>
							{% else %}
								<input class="form-control-file" id="file_{{ value['id'] }}" name="file_{{ value['id'] }}" type="file" accept="application/zip" aria-describedby="fileHelp" disabled required><small class="form-text text-muted" id="fileHelp" style="color: #fff !important;" >Upload a shape file of {{ value['name'] }} in zip format</small>
							{% endif %}
							<input class="form-control-file data-upload-param" id="param_{{ value['id'] }}" name="param_{{ value['id'] }}" type="hidden" value="{{ value['id'] }}" />
						</div>
						{% set flag = 1 %}
						{% else %}
							<div class="alert alert-success" role="alert">
							  <b>Boundaries of following {{ value['name'] }}(s) are already uploaded.</b><br>{{ value['regionName'] }}
							</div>
						{% endif %}
					</div>
					<div class="col-md-2">
						{% if value['uploadedStatus'] == 0 %}
							<button class="btn {{ flag1  == 0 ? 'btn-light' : 'btn-secondary disabled'}} " onclick=""><i class="fa fa-fw fa-lg fa-check-circle"></i>Upload</button>
							{% set flag1 = 1 %}
						{% endif %}
					</div >
					<div class="col-md-12 validation-error" ></div>
				</div>
				</form>
				{% endfor %}
			</div>
			<!--div class="tile-footer"><a class="btn btn-primary" href="#">Link</a></div-->
		  </div>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
<script src="/vali/js/forest-admin-boundaries.js"></script>
{% endblock %}