{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-6 col-sm-12">
		  <div class="tile">
			<h3 class="tile-title">How to upload species' data?</h3>
			<div class="scrollbar tile-body" style="max-height: 400px;overflow-y: scroll;">
				<p>
					You can uplaod the species format as mentioned in the steps below.
					Once uploaded you are reupload the species list after deleting the previously added list.
					Please recheck the list before uploading as uploading a wrong file will lead to system error.
					<br/>

					<h6>Step 1 :</h6>
					Find habit id that system understands in following table
					<table class="table table-sm">
						<thead>
							<tr>
								<td>Name</td>
								<td>Habit Type</td>
								<td>Habit Name</td>
							</tr>
						</thead>
						<tbody>
							{% for i in params['allHabits'] %}
							<tr>
								<td>{{ i['name'] }}</td>
								<td>{{ i['id'] }}</td>
								<td>{{ i['type'] }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</p>
				<p>
					<h6>Step 2 :</h6>
					The habit id could be entered referring the above table. Species file should contain Habit Type, Species Id, Local Name, Scientific Name as columns. Please see <b>sample</b> below:
				</p>
				<table class="table">
					<thead>
						<tr>
							<td>Habit Type</td>
							<td>Species Id</td>
							<td>Local Name</td>
							<td>Scientific Name</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>23</td>
							<td>Neem</td>
							<td>Azadirachta indica</td>
						</tr>
						<tr>
							<td>9</td>
							<td>25</td>
							<td>Crow</td>
							<td>Corvus Splendens</td>
						</tr>
						<tr>
							<td>8</td>
							<td>24</td>
							<td>Frog</td>
							<td>Hoplobatrachus tigerinus</td>
						</tr>
					</tbody>
				</table>
				<div class="alert alert-info">
					<b>Note:</b> The file must be comma seperated csv file and must consists following columns.
				</div>
				<div class="alert alert-danger">
					<b>Note :</b> Any change in the species list post start of data collecton will lead to loss of data collected
				</div>
			</div>
			<!--div class="tile-footer"><a class="btn btn-primary" href="#">Link</a></div-->
		  </div>
		</div>
		<div class="col-md-6 col-sm-12">
		  <div class="tile">
			<h3 class="tile-title">Upload Species</h3>
			<div class="tile-body">

				{% if params['speciesChck'] is not null %}
					<div class="alert alert-primary">
						Already Uploaded
					</div>
				{% else %}
					<form id="uploadSpeciesData" method="post" action="/DataUpload/postSpeciesData" enctype="multipart/form-data">
						<div id="formContainer">
							<div id="parentsWrapper">
								<div class="row" style="margin-bottom: 20px;">
									<div class="col-md-1"><span class="badge-custom badge-primary">1</span></div>
									<div class="col-md-11" id="bndTypeContainer">
										<div class="form-group">
											<label for="exampleSelect1">Select {{ params['topMostParentName'] }}</label>
											<select class="form-control" id="topMostParent" name="topMostparent" onchange="showCSVUpload(this.id)">
												<option value="0">Select</option>
												{% for key,value in params['topMostParentList'] %}
													<option value="{{ value['id'] }}">{{ value['name'] }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row" id="csvUpload" style="margin-bottom: 20px; display: none;">
								<div class="col-md-1"><span class="badge-custom badge-primary">3</span></div>
								<div class="col-md-11">
									<div class="form-group">
										<label for="exampleInputFile">Upload CSV file</label>
										<input class="form-control-file" id="csv_file" name="csv_file" type="file" accept=".csv" aria-describedby="fileHelp">
										<small class="form-text text-muted" id="fileHelp">Upload comma seperated csv file containing species list</small>
									</div>
								</div>
							</div>
							<div class="row" id="submitButton" style="margin-bottom: 20px; display: none;">
								<div class="col-md-1"><span class="badge-custom badge-primary">4</span></div>
								<div class="col-md-11">		
									<div class="tile-footer">
										<button class="btn btn-primary" type="submit">Upload</button>
									</div>
								</div>
							</div>
						</div>
					</form>
				{% endif %}	
				</div>
				</div>
			</div>
			<!--div class="tile-footer"><a class="btn btn-primary" href="#">Link</a></div-->
		  </div>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
<script src="/vali/js/species-data.js"></script>
{% endblock %}