{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<form method="post" action="/ODK/mapFieldOptions">
				<input type="hidden" name="form" id="form" value="{{ params['form_id'] }}" />
				<div class="tile">
					<h3 class="tile-title">{{ params['title'] }}</h3>
					<div class="tile-body">
						{% for key,value in params['attributes'] %}
						<h4>{{ value['name'] }} ({{ value['ui_element'] }})</h4>
						{% for key1,value1 in params['odk_values'][key] %}
						<div class="form-group row">
							<label class="control-label col-md-1">{{ value1 }}</label>
							<div class="col-md-3">
									<select class="form-control" name="attr[{{ value['attr_id'] }}][{{ value1 }}]">
										<option value="0">Select value</option>
										{% set selected = 0 %}
										{% for key2,attr in params['values'][key] %}
											<option value="{{ attr['id'] }}"{% if params['selected_values'][value['attr_id']][value1] == attr['id'] %} selected="selected"{% endif %}>{{ attr['values'] }}</option>
										{% endfor %}
									</select>
							</div>
						</div>
						{% endfor %}
						{% endfor %}
						{% for key,value in params['cb_attributes'] %}
						<h4>{{ value['name'] }} ({{ value['ui_element'] }})</h4>
						{% for key1,value1 in params['odk_cb_values'][key] %}
						<div class="form-group row">
							<label class="control-label col-md-1">{{ value1 }}</label>
							<div class="col-md-3">
									<select class="form-control" name="attr[{{ value['attr_id'] }}][{{ value1 }}]">
										<option value="0">Select value</option>
										{% set selected = 0 %}
										{% for key2,attr in params['cb_values'][key] %}
											<option value="{{ attr['id'] }}"{% if params['selected_values'][value['attr_id']][value1] == attr['id'] %} selected="selected"{% endif %}>{{ attr['values'] }}</option>
										{% endfor %}
									</select>
							</div>
						</div>
						{% endfor %}
						{% endfor %}
					</div>
					<div class="tile-footer">
						<div class="row">
							<div class="col-md-8 col-md-offset-3">
								<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Map Options</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
{% endblock %}