{% extends "layout.html" %}

{% block title %} {% endblock %}

{% block content %}
<div class="app-content ">
	<div class="row">
            <div class="col-md-4">
	          <div class="tile">
	            <h3 class="tile-title">Divisions</h3>
	            <div class="embed-responsive embed-responsive-16by9">
	              <canvas class="embed-responsive-item" id="doughnutChartDemo" width="455" height="256" style="width: 455px; height: 256px;"></canvas>
	            </div>
	          </div>
	      </div>
	      <div class="col-md-4">
	          <div class="tile">
	            <h3 class="tile-title">Entries/Division</h3>
	            <div class="embed-responsive embed-responsive-16by9">
	              <canvas class="embed-responsive-item" id="barChartDemo" width="455" height="256" style="width: 455px; height: 256px;"></canvas>
	            </div>
	          </div>
	      </div>
            <div class="col-md-4">
                <div class="tile">
                  <h3 class="tile-title">Rare Species</h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="barChartRare" width="455" height="256" style="width: 455px; height: 256px;"></canvas>
                  </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="tile">
                  <h3 class="tile-title">Forms/Division</h3>
                  <div class="embed-responsive embed-responsive-16by9">
                    <canvas class="embed-responsive-item" id="barChart2Demo" width="455" height="256" style="width: 455px; height: 256px;"></canvas>
                  </div>
                </div>
            </div>
      </div>
      <script type="text/javascript" src="/vali/js/plugins/chart.js"></script>
      <script type="text/javascript">
      var data = {
      	labels: ["Udaipur", "Prataphgarh", "Banswara", "Chittaurgarh"],
      	datasets: [
      		{
      			label: "First Round",
      			fillColor: "rgb(128,0,0,0.7)",
      			strokeColor: "rgba(220,220,220,1)",
      			pointColor: "rgba(220,220,220,1)",
      			pointStrokeColor: "#FF6347",
      			pointHighlightFill: "#FF6347",
      			pointHighlightStroke: "rgba(220,220,220,1)",
      			data: [7139, 1783, 2409, 3739]
      		}
      	]
      };
      var dataRare = {
            labels: ["Count", "Images"],
            datasets: [
                  {
                        label: "First Round",
                        fillColor: "rgb(128,0,0,0.7)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#FF6347",
                        pointHighlightFill: "#FF6347",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [13083, 24268]
                  }
            ]
      };
      var data2 = {
            labels: ["Plot Approach", "Plot Description", "Plot Enumeration", "Households", "Village information"],
            datasets: [
                  {
                        label: "First Round",
                        fillColor: "rgb(128,0,0,0.7)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#FF6347",
                        pointHighlightFill: "#FF6347",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [307, 85, 1004, 127, 71]
                  }
            ]
      };
      var pdata = [
      	{
      		value: 7139,
      		color:"#F7464A",
      		highlight: "#FF5A5E",
      		label: "Udaipur"
      	},
      	{
      		value: 3739,
      		color: "#46BFBD",
      		highlight: "#5AD3D1",
      		label: "Chittaurgarh"
      	},
      	{
      		value: 2409,
      		color: "#FDB45C",
      		highlight: "#FFC870",
      		label: "Banswara"
      	},
      	{
      		value: 1783,
      		color: "#FDB45C",
      		highlight: "#FFC870",
      		label: "Prataphgarh"
      	}
      ]
      var ctxb = $("#barChartDemo").get(0).getContext("2d");
      var barChart = new Chart(ctxb).Bar(data);

      var ctxb = $("#barChart2Demo").get(0).getContext("2d");
      var barChart2 = new Chart(ctxb).Bar(data2);

      var ctxb = $("#barChartRare").get(0).getContext("2d");
      var barChart3 = new Chart(ctxb).Bar(dataRare);


      var ctxd = $("#doughnutChartDemo").get(0).getContext("2d");
      var doughnutChart = new Chart(ctxd).Doughnut(pdata);
      </script>

</div>
{% endblock %}