{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<form method="post" action="/{{ params['type'] }}/syncFormData">
				<input type="hidden" name="form" id="form" value="{{ params['form_id'] }}" />
				<div class="tile">
					<h3 class="tile-title">{{ params['title'] }}</h3>
					{% if params['data-available'] == true %}
					<div class="tile-body">
						<div class="table-responsive">
							<table class="table table-dark" id="odkData">
								<thead>
								<tr>
									<th></th>
									{% for key,value in params['data'][0] %}
									<th>{{ key }}</th>
									{% endfor %}
								</tr>
								</thead>
								<tbody>
								{% for key,value in params['data'] %}
								<tr>
									<th><input type="checkbox" id="form_{{ value['id'] }}" name="forms[]" value="{{ value['id'] }}" /></th>
									{% for key1, value1 in value %}
									<th>{{ value1 }}</th>
									{% endfor %}
								</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					{% if params['buttons'] == true %}
					<div class="tile-footer">
						<div class="row">
							<div class="col-md-8 col-md-offset-3">
								<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Sync Data</button>
								<button class="btn btn-primary btn-danger" type="button" onclick="window.location = '/{{ params['type'] }}/sync';"><i class="fa fa-fw fa-lg fa-times-circle"></i> Cancel</button>
							</div>
						</div>
					</div>
					{% endif %}
					{% else %}
					<p>No data available to sync</p>
					<div class="tile-footer">
						<div class="row">
							<div class="col-md-8 col-md-offset-3">
								<button class="btn btn-primary btn-danger" type="button" onclick="window.location = '/{{ params['type'] }}/sync';"><i class="fa fa-fw fa-lg fa-angle-left"></i> Back</button>
							</div>
						</div>
					</div>
					{% endif %}
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
<script src="/vali/js/plugins/jquery.dataTables.min.js"></script>
<script src="/vali/js/odk-data.js"></script>
{% endblock %}