{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-8 col-sm-12">
			<div class="tile">
				<div class="tile-body">
					<div class="row" style="margin-bottom: 20px;">
						{% if params['status'] == 0 %}
							<p>Form sync is failed with following errors:</p>
							<br />
							<ul>
								{% for key,value in params['errors'] %}
									<li>{{ value }}</li>
								{% endfor %}
							</ul>
						{% else %}
						<p>Forms have been successfully synced</p>
						{% endif %}
					</div>
				</div>
				<div class="tile-footer">
					<div class="row">
						<div class="col-md-8 col-md-offset-3">
							<button class="btn btn-primary" type="button" onclick="window.location = '/{{ params['type'] }}/sync';"><i class="fa fa-fw fa-lg fa-check-circle"></i> OK</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
{% endblock %}