{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<script>
	var baseUrl = "{{ url }}";
	var username = "{{ create_by }}";
	var uploadStatus = {{ params.uploaded }};
</script>
<link rel="stylesheet" href="/vali/css/ol3.css" type="text/css" />
<link rel="stylesheet" href="/vali/css/map.css" type="text/css" />
<div class="app-content">
	<div class="row">
		{% if params.uploaded == 0 %}
			<div class="col-md-12 col-sm-12" height="300px;">
				<div class="tile">
					<div class="alert alert-danger">
						<h6>{{ params.uploadedText }} boundaries are not uploaded. Please upload them before verification.</h6> 
						<br />
						<h6>You will be redirected to Data Upload -> Forest Admin Boundaries in <span id="secCounter" class="blink">10</span> seconds. <a href="/DataUpload/ForestAdminBoundaries">Redirect now</a></h6>
					</div>
					
				</div>
			</div>
		{% else %}
			<div class="col-md-4 col-sm-12">
				<div class="tile">
					<h3 class="tile-title">Verify Forest boundaries</h3>
					<div id="layerController"></div><br />
					{% if params.verified == 0 %}
						<p>If you find error in any boundaries, please delete all boudaries using following button and re-upload correct boundaries.</p>
						<button class="btn btn-danger" id="deleteBnd" onclick="deleteBoudnaries()">Delete all boundaries</button>
					{% else %}
						<p>
							All boundaries are verified. You may now proceed with species list upload using this link <a href='/DataUpload/speciesData' style="font-size: 1rem;">Upload species list</a>. You can create data entry users and can start data collection after uploading species list.
						</p>
					{% endif %}
					<!--
					<h3 class="tile-title">Key points to look for verification of forest boundaries</h3>
					<div class="tile-body"><p><b>This block will contain step wise tutorial to upload boundaries data.</b><br><br>This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content </p><p> This is dummy content. This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content </p><br></div>
					-->
					<!--div class="tile-footer"><a class="btn btn-primary" href="#">Link</a></div-->
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				<div height="300px" width="100%">
						<div id="map" style="position: relative;" height="300px">
							<div id="legend">
								<div id="legendTitleBar">Legend</div>
								<div id="legendContent"></div>
							</div>
						</div>
					</div>
			  
			</div>
		{% endif %}
	</div>
</div>
<script src="https://maps.google.com/maps/api/js?v=3&key=AIzaSyB0_rV2K9l3QoLwIJiX448CsXw9W7-vZpU"></script>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
<script src="/vali/js/ol3.js"></script>
<script src="/vali/js/ol3gm.js"></script>
<script src="/vali/js/verify-admin-boundaries.js"></script>
{% endblock %}