{% extends "layout.html" %}

{% block title %} {{ formDetails['description'] }} {% endblock %}

{% block content %}
<script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<style type="text/css">
#rareTile
{
	height: 400px;
	overflow: scroll;
}
.tile-title
{
	color: white;
}
#rareData_paginate a
{
	padding:5px;
	text-decoration: none;
	background: #000;
	cursor: pointer;
}
#dreamland
{
	z-index: 100000;
}
</style>
<script type="text/javascript" src="/vali/js/dreamimage.js"></script>
<div class="app-content ">
	<div id="dataEdit">
		<div class="form-group col-md-8" style="float: left;">
			<h3 class="tile-title">Rare Species Data</h3>
			<div id="tabs"><span class="badge badge-info">Ranges</span>
				<select id="rangeId">
					<option value="all">Select One</option>
					{% for id,name in ranges %}
					<option value="{{ id }}">{{ name }}</option>
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="right" class="col-md-4">
			<button id='export' class="btn btn-info">Export</button>
			<button id='exportAllData' class="btn btn-info">Export All Ranges</button>
		</div>
		<div class="form-group col-md-12 table-responsive">
			<div class="tile" id="rareTile">
			<table id="rareData" class="table table-dark cell-border" cellspacing="0" width="100%">
				<thead>
				</thead>
				<tbody>
					<td>Select range to load data</td>
				</tbody>
			</table>
		</div>
		</div>
	</div>
</div>
<style type="text/css">
	.app-content
	{
		padding: 0px;
	}
</style>
<script type="text/javascript">
	$(document).ready(function(){
		var clht = document.getElementById('dataEdit').clientHeight;
		$('#rareTile').height(clht-150);
		$('#rangeId').on('change',function(){
			var optionSelected = $("option:selected", this);
			$.ajax({
				url: '/DataView/getRareData',
				data: 'rangeId='+optionSelected.val(),
				type: 'post',
				success:function(resp)
				{
					$('#rareData').html(resp);
					$('#rareData').DataTable();
					$('img').dreamimage();
				}
			});
		});
		$(document).on('click', 'img', function() {
            $(this).dreamimage();
        });
        $('#export').on('click',function(){
			var optionSelected = $("#rangeId option:selected").val();
			$.ajax({
				url: '/DataView/getAllExcel',
				data: 'rangeId='+optionSelected,
				type: 'post',
				success:function(resp)
				{
					resp = $.parseJSON(resp);
					if(resp.success)
					{
						url = '/files/temp/'+resp.filename+'.xlsx';
						window.open(url, '_blank');
					}
				}
			});
		});
		$('#exportAllData').on('click',function(){
			var optionSelected = $("#rangeId option:selected").val();
			$.ajax({
				url: '/DataView/getAllExcel',
				data: 'rangeId='+optionSelected+'&data=All',
				type: 'post',
				success:function(resp)
				{
					resp = $.parseJSON(resp);
					if(resp.success)
					{
						url = '/files/temp/'+resp.filename+'.xlsx';
						window.open(url, '_blank');
					}
				}
			});
		});
	});
</script>

{% endblock %}