{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<form method="post" action="/{{ params['type'] }}/mapFields">
				<input type="hidden" name="form" id="form" value="{{ params['form_id'] }}" />
				<div class="tile">
					<h3 class="tile-title">{{ params['title'] }}</h3>
					<div class="tile-body">
						{% for key,value in params['columns'] %}
						{% if value['column_name'] not in params['skip-fields'] and value['group_id'] is empty %}
						<div class="form-group row">
							<label class="control-label col-md-2">{{ value['column_name'] }}</label>
							<div class="col-md-3">
									<select class="form-control" name="attr[{{ value['column_name'] }}]">
										<option value="0">Select form</option>
										{% set selected = 0 %}
										{% for key,attr in params['attributes'] %}
											{% if value['column_name'] == attr[params['form_field']] %} {% set selected = 1 %} {% endif %}
											<option value="{{ attr['fa_id'] }}"{% if value['column_name'] == attr[params['form_field']] %} selected="selected"{% endif %}>{{ attr['name'] }} ( {{ attr['ui_element'] }} )</option>
										{% endfor %}
									</select>{% if selected == 1 %} <i class="fa fa-fw fa-lg fa-check-circle"></i> {% endif %}
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					{% for key,value in params['groups'] %}
					<h3 class="tile-title">{{ value['group_name'] }}</h3>
					<div class="tile-body">
						{% for key1,value1 in params['group_' ~ key] %}
						{% if value1['column_name'] not in params['skip-fields'] %}
						<div class="form-group row">
							<label class="control-label col-md-2">{{ value1['column_name'] }}</label>
							<div class="col-md-3">
									<select class="form-control" name="group_attr[{{ key }}][{{ value1['column_name'] }}]">
										<option value="0">Select form</option>
										{% set selected = 0 %}
										{% for key2,attr in params['group_attributes'][key] %}
											{% if value1['column_name'] == attr[params['group_field']] %} {% set selected = 1 %} {% endif %}
											<option value="{{ attr['group_attr_id'] }}"{% if value1['column_name'] == attr[params['group_field']] %} selected="selected"{% endif %}>{{ attr['name'] }} ( {{ attr['ui_element'] }} )</option>
										{% endfor %}
									</select>{% if selected == 1 %} <i class="fa fa-fw fa-lg fa-check-circle"></i> {% endif %}
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
					{% endfor %}
					<div class="tile-footer">
						<div class="row">
							<div class="col-md-8 col-md-offset-3">
								<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Map Fields</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
{% endblock %}