{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-4 col-sm-12">
		  <div class="tile">
			<h3 class="tile-title">How to sync data from ODK aggregate?</h3>
			<div class="tile-body"><p>This is dummy content. This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content </p><p> This is dummy content. This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content This is dummy content </p></div>
			<!--div class="tile-footer"><a class="btn btn-primary" href="#">Link</a></div-->
		  </div>
		</div>
		<div class="col-md-8 col-sm-12">
			<form method="get" action="/{{ params['type'] }}/map">
				<div class="tile">
					<h3 class="tile-title">Sync Data</h3>
					<div class="tile-body">
						<div class="row" style="margin-bottom: 20px;">
							<div class="col-md-1"><span class="badge-custom badge-primary">1</span></div>
							<div class="col-md-11" id="bndTypeContainer">
								<div class="form-group">
									<label for="exampleSelect1">Select form to sync</label>
									<select class="form-control" name="form">
										<option value="0">Select form</option>
										{% for key,value in params['forms'] %}
											<option value="{{ value['f_id'] }}">{{ value['description'] }}</option>
										{% endfor %}
									</select>
								</div>
							</div>
						</div>
					</div>
					<div class="tile-footer">
						<div class="row">
							<div class="col-md-8 col-md-offset-3">
								<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i> Fetch Data</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
{% endblock %}