{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
	<div class="app-content">
		<div class="row">
			<div class="col-md-8 col-sm-12 mx-auto">
				<div class="card sameHeight">
					<div class="card-body">
						<h5 class="card-title">About IFMT</h5>
						<p class="card-text">
							The Integrated Forest Management Toolbox is a forest management planning model, developed with an objective to assist senior and mid-level officers in India’s state forest departments to develop working plans in accordance to the National Working Plan Code, 2014 (NWPC) that calls for management of forests for a range of ecosystem services.
						</p>
					</div>	
				</div> 
			</div>
			<div class="col-md-4 col-sm-12 mx-auto">
				<div class="card mb-3 text-white bg-primary sameHeight" style="background-color: #3e4f26 !important;">
					<div class="card-body">
					  <blockquote class="card-blockquote">
						<header><div class="row"><div class="col-md-6 col-sm-6">IFMT Mobile App</div><div class="col-md-6 col-sm-6"><i class="fa fa-android fa-w-14 fa-lg pull-right" style="color: #6c8e2e;"></i></div></div></header>
						Android App for data collection.<br/>
						<b>Updated on - {{ date('jS F Y',filemtime("IFMT.apk"))}}</b>
						</br>
						<footer>
						  <a class="btn btn-info" href="/IFMT.apk">Get Mobile App</a>
						</footer>
					  </blockquote>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-sm-12">
				<div class="card">
				  <div class="card-body">
				    <h5 class="card-title">Purpose of IFMT</h5>
				    <p class="card-text">
				    	Over the years, Indian forestry has witnessed a paradigm shift in the approach to forest management, which has moved away from sustainable utilization of timber to environmental   stability,   biodiversity   monitoring   and   management, protecting ecosystem services rendered by  forests  and  sustained  delivery  of  socio-economic benefits.  These  goals  are  enshrined  in  the  National Working  Plan  Code  2014.  The  NWPC  also  promotes major technological as well as analytical advances in forest data collection and analysis, including in the field of GIS and remote sensing. IFMT aims to address these requirements of NWPC by supporting forest officials in sustainable  management  of  forest  and  its  resources by  providing  data  and  tools  for  informed  planning  and  preparation of Working Plans.The Integrated Forest Management Toolbox consists of a suite of tools that together collect and collate geo-spatial and ground level data, identify potential forest management  activities  based  on  flow  of  ecosystem services and assist in finalizing working plan prescriptions. The individual tools that constitute the toolbox were developed to meet the requirements of NWPC.
				    </p>
				  </div>
				</div>
				<div class="card distSep">
				  <div class="card-body">
				    <h5 class="card-title">Tools of IFMT</h5>
				    <p class="card-text">
				    	Forest Resources Observatory (FRO) - A repository of data from publicly available open data sources that can provide certain mandatory spatial layers as required by NWPC.
				    </p>
				    <ul>
				    	<li>Forest Data Kit (FDK) - A mobile android application that provides a digital platform for collection of field data. The data is further analysed and processed to create geo-spatial layers for visualization.</li>
				    	<li>Composite  Land  Assessment  and  Restoration  Tool (CLART)  -  Tool  for  classifying  areas  based  on  water recharge potential and identify areas for soil moisture conservation working circle activities that can improve yield of water.</li>
				    	<li>Species Distribution Model (SDM) – Tool for planning of plantation working circle and NTFP working circle as per the local agro-climatic and edaphic factors. It will assist in finding areas suitable for specified tree species. It can also assist in locating biodiversity hot-spots for conservation working circles.</li>
				    </ul>
				  </div>
				</div>
				<div class="card distSep">
					<div class="card-body">
						<h5 class="card-title">How does IFMT work?</h5>
						<p class="card-text">
							The Forest Data Kit is customised for each division by adding lists of local floral species and administrative units. Primary ecological data from plots and socio-economic data from forest fringe villages is collected through this customised tool and analysed along with the secondary data form Data Platform. Following this, reports and maps are generated as per the recommendations of the National Working Plan Code 2014. These reports and maps form the basis of the prescriptions of working plans. CLART and SDM will further provide support for planning re-vegetation and soil-water conservation measures.
						</p>
					</div>	
				</div>
			</div>
			
		</div>
	</div>
	<style type="text/css">
		.card
		{
			background: rgba(0,0,0,0.6);
			color: white;
		}
	</style>
{% endblock %}
