<header class="app-header">
	{% if user is defined %}
		<a class="app-sidebar__toggle" href="#" data-toggle="sidebar"></a>
	{% endif %}
	<a class="tile-title app-header__logo text-white col-md-6 col-sm-12" href="/">
		IFMT
		<label class="sub">Integrated Forest Management Toolbox</label>
	</a>
	{% include "menu.html" %}
</header>