{% set reportsList = {CH1 : 'Compartment History Reporting Format 1',CH2A : 'Compartment History Reporting Format 2A',CH2B : 'Compartment History Reporting Format 2B',CH3 : 'Compartment History Reporting Format 3',CH5 : 'Compartment History Reporting Format 5'} %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <title>IFMT - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/vali/css/main.css">
        {# <link rel="stylesheet" type="text/css" href="/vali/css/font-awesome.min.css"> #}
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/vali/css/font-awesome-custom.css">
        <link rel="stylesheet" type="text/css" href="/vali/css/custom.css">
        <link rel="stylesheet" type="text/css" href="/global/css/ol4.css">
        <!--script src="/vali/js/jquery-2.2.4.js"></script-->
        <script type="text/javascript" src="/vali/js/jquery-3.2.1.min.js"></script>
    </head>
    <body class="app {% if user is defined %} sidebar-mini {% endif %}">
        <div id="loader">
            <div class="sk-folding-cube">
              <div class="sk-cube1 sk-cube"></div>
              <div class="sk-cube2 sk-cube"></div>
              <div class="sk-cube4 sk-cube"></div>
              <div class="sk-cube3 sk-cube"></div>
              IFMT
            </div>
        </div>
        {% if alerts is defined %}
            {% for key,value in alerts %}
              <div class="alert alert-dismissible alert-{{ key }} page-alert">
                <button class="close" type="button" data-dismiss="alert">×</button>
                <strong>{{ value | raw }}</strong>
              </div>
            {% endfor %}
        {% endif %}
		{% include "header.html" %}
		{% include "sidebar.html" %}
        {% block content %}
        {% endblock %}
		{% include "footer.html" %}
    <div id='dataModal' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Update Field</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary saveFieldChanges">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <div id='reportModal' class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">IFMT Reports</h5>
              </div>
              <div class="modal-body">
                <form id='getReportDownload' class="form" action="/Report/index" method='POST'>
                  <div class="row">
                    <div class="form-group col-md-12">
                      <label>Select a report</label>
                      <select name="form" class="select form-control" id="selectReport">
                        <option value='-1'>Select</option>
                        {% for key,value in reportsList %}
                        <option value="{{key}}">{{value}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-12" id="selectRange">
                      <label>Select a range</label>
                      <select name="ranges" class="select form-control">
                        <option value='-1'>Select</option>
                        {% for key,value in ranges %}
                        <option value="{{key}}">{{value}}</option>
                        {% endfor %}
                      </select>
                    </div>
                    <div class="form-group col-md-12">
                      <input type="submit" class='btn btn-success' id='getReport' value="Get Report">
                      <input type="button" class='btn btn-info' id='downloadReport' value="Download report!">
                    </div>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>
        <script type="text/javascript" src="/vali/js/plugins/chart.js"></script>
        <script src="/vali/js/plugins/pace.min.js"></script>
        <script src="/vali/js/popper.min.js"></script>
        <script src="/vali/js/bootstrap.min.js"></script>
        <script src="/vali/js/main.js"></script>
        <script src="/vali/js/custom.js"></script>
        <!-- The javascript plugin to display page loading on top-->
        <!-- Page specific javascripts-->
    </body>
</html>