{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row col-md-12" id='reportsSection'>
		<form class="form-control" id='getReport'>
			<div class="form-group row">
				<h3 class="col-md-12">{{title}}</h3>
			</div>
			<div class="form-group row">
				<div class="col-md-12">
					<a href="/Report/index?rep=1">
						<button class="btn btn-info" type="button">CH1</button>
					</a>
				</div>
			</div>
		</form>
		<div class="table-dark table-responsive" id="reports">
			<table class="table cell-border" id="reportDetails">
				{{ table | raw }}
			</table>
		</div>
	</div>
</div>
<script src="/vali/js/report.js"></script>
{% endblock %} 