{% if user is defined %}
	<!--div class="app-sidebar__overlay" data-toggle="sidebar"></div-->
	<aside class="app-sidebar">
	  <div class="app-sidebar__user"><!--<img class="app-sidebar__user-avatar" src="" alt="User Image">--><span style="display:inline-block; border: 1px solid #fff; background: #31480f; padding: 4px 8px; border-radius: 30px; margin-right: 10px;"><i class="fa fa-user" style="font-size:150%;"></i></span>
		<div>
		  <p class="app-sidebar__user-name">{{ user['name'] }}</p>
		  <p class="app-sidebar__user-designation">{{ user['designation'] }}</p>
		</div>
	  </div>
	  <ul class="app-menu">
		<li><a class="app-menu__item" href="/"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
		<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-upload"></i><span class="app-menu__label">Data Upload</span><i class="treeview-indicator fa fa-angle-right"></i></a>
		  <ul class="treeview-menu">
			<li><a class="treeview-item" href="/DataUpload/ForestAdminBoundaries"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Forest Admin Boundaries</a></li>
			<li><a class="treeview-item" href="/DataUpload/speciesData"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Species Data</a></li>
		  </ul>  
		</li>
		<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-check-square-o"></i><span class="app-menu__label">Verification</span><i class="treeview-indicator fa fa-angle-right"></i></a>
		  <ul class="treeview-menu">
			<li><a class="treeview-item" href="/DataVerification/verifyAdminBoundaries"><i class="icon fa fa-dot-circle-o fa-xxs"></i>Boundary Verification</a></li>
		  </ul>  
		</li>
		{% if 'DataEdit' in access.modular|keys %}
		<li class="treeview">
			<a class="app-menu__item" href="#">
				<i class="app-menu__icon fa fa-edit"></i>
				<span class="app-menu__label">Data Edit</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			{% if forms is defined %}
			<ul class="treeview-menu">
				{% for key,form in forms %}
				<li><a class="treeview-item" href="/DataEdit/listData?form={{ form['f_id'] }}"><i class="icon fa fa-dot-circle-o fa-xxs"></i> {{ form['description'] }}</a></li>
				{% endfor %}
				<li>
					<a class="treeview-item" href="/DataView/rareSpecies">
						<i class="icon fa fa-dot-circle-o fa-xxs"></i> Rare Species Data
					</a>
				</li>
			</ul>
			{% endif %}
		</li>
		<li class="treeview">
			<a class="app-menu__item" href="#">
				<i class="app-menu__icon fa fa-file"></i>
				<span class="app-menu__label" data-toggle="modal" href="#reportModal">Reports</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			<!--
			<ul class="treeview-menu">
				<li>
					<a class="treeview-item" href="/Report/index?rep=1">
						<i class="icon fa fa-dot-circle-o fa-xxs"></i>CH1
					</a>
				</li>
				<li>
					<a class="treeview-item" href="/Report/index?rep=2a">
						<i class="icon fa fa-dot-circle-o fa-xxs"></i>CH2A
					</a>
				</li>
				<li>
					<a class="treeview-item" href="/Report/index?rep=2b">
						<i class="icon fa fa-dot-circle-o fa-xxs"></i>CH2B
					</a>
				</li>
				<li>
					<a class="treeview-item" href="/Report/index?rep=3">
						<i class="icon fa fa-dot-circle-o fa-xxs"></i>CH3
					</a>
				</li>
				<li>
					<a class="treeview-item" href="/Report/index?rep=5">
						<i class="icon fa fa-dot-circle-o fa-xxs"></i>CH5
					</a>
				</li>
			</ul>
			-->
		</li>
		{% endif %}
		<li class="treeview"><a class="app-menu__item" href="#" data-toggle="treeview"><i class="app-menu__icon fa fa-globe"></i><span class="app-menu__label">Dashboard</span><i class="treeview-indicator fa fa-angle-right"></i></a>
		  <ul class="treeview-menu">
			<li><a class="treeview-item" href="/GisDashboard/getGisDashboard"><i class="icon fa fa-dot-circle-o fa-xxs"></i>GIS Dashboard</a></li>
		  </ul>  
		</li>
		<li class="treeview">
			<a class="app-menu__item" href="#">
				<i class="app-menu__icon fa fa-user"></i>
				<span class="app-menu__label">User Management</span>
				<i class="treeview-indicator fa fa-angle-right"></i>
			</a>
			<ul class="treeview-menu">
				<li><a class="treeview-item" href="/User/getUsers"><i class="icon fa fa-dot-circle-o fa-xxs"></i> Users</a></li>
				{% if 'User.getRoles' in access %}
				<li><a class="treeview-item" href="/User/getRoles"><i class="icon fa fa-dot-circle-o fa-xxs"></i> Roles</a></li>
				{% endif %}
			</ul>
		</li>
	  </ul>
	</aside>
{% endif %}