{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<style>
    .red{
        color: red;
    }
</style>
<div class="app-content">
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="tile">
      <h3 class="tile-title">Forgot Password</h3>
      <div class="tile-body">
        <form class="form-horizontal" id="login" action="/User/forgot" method="post">
            <div class="form-group row">
                <label class="control-label col-md-3">Email</label>
                <div class="col-md-8">
                    <input class="form-control col-md-8" placeholder="Enter Username" type="text" name="email">
                </div>
            </div>
            <div class="form-group row">
            <label class="control-label col-md-3">Username</label>
            <div class="col-md-8">
              <input required class="form-control col-md-8" placeholder="Enter Username" type="text" name="username">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">New Password</label>
            <div class="col-md-8">
              <input id="password" required class="form-control col-md-8" placeholder="Enter Password" type="password" name="password">
            </div>
          </div>
          <div class="form-group row">
            <label class="control-label col-md-3">Retype Password</label>
            <div class="col-md-8">
                <input id="rpassword" required class="form-control col-md-8" placeholder="Enter Password" type="password" name="rpassword">
                <span class="message red">Password don't match!</span>
            </div>
          </div>
          <div class="tile-footer">
            <div class="row">
              <div class="col-md-8 col-md-offset-3">
                <button class="btn btn-primary" type="submit" id="submit">
                    <i class="fa fa-fw fa-lg fa-check-circle"></i>Submit
                </button>
                <a class="right btn btn-danger" href="/User/login">
                    <i class="fa fa-fw fa-lg fa-times-circle"></i>Login
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<script>
    $('.message').hide();
    $('#rpassword').keyup(function(){
        if($(this).val() != $('#password').val())
        {
            $('.message').show();
            $('#submit').addClass('disabled');
        }else{
            $('.message').hide();
            $('#submit').removeClass('disabled');
        }
    });
</script>
{% endblock %}