{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-8 col-sm-12">
		  <div class="tile">
			<form id="privileges{{ key }}" name="privileges{{ key }}" method="post" action="/User/postPrivileges">
				<input type="hidden" name="id" id="id" value="{{ params['role']['role_id'] }}" />
				<h3 class="tile-title">Role Privileges ( {{ params['role']['role_name'] }} )</h3>
				<div class="tile-body">
					{% for key,value in params['privileges'] %}
						<h5 style="margin-bottom: 5px;margin-right: 2px; margin-left: 2px;">{{ key }}</h5>
					<div class="row data-upload-wrapper" style="margin-bottom: 20px;margin-right: 2px; margin-left: 2px;">
						{% for key1,value1 in value %}
						<div class="col-md-3">
							<div class="form-group">
								<label style="display:block;"><input class="form-control-file data-upload-file" name="access[]" type="checkbox" value="{{ key }}.{{ value1['name'] }}" style="width:inherit;display:inline-block;"{% if key ~ '.' ~ value1['name'] in params['selected'] %} checked="checked"{% endif %}>&nbsp; {{ value1['name'] }}</label>
							</div>
						</div>
						{% endfor %}
						<div class="col-md-12 validation-error" ></div>
					</div>
					{% endfor %}
				</div>
				<div class="tile-footer"><button type="submit" class="btn btn-primary">Save Privileges</button></div>
			</form>
		  </div>
		</div>
	</div>
</div>
<script src="/vali/js/plugins/sweetalert.min.js"></script>
{% endblock %}