	<label> Select {{ params['name'] }}
	<select name="region_filter[]" data-load="{{ params['load'] }}" class="form-control region_select">
		<option value="0">Select</option>
		{% for key,value in params['regions'] %}
		<option value="{{ value['id'] }}">{{ value['name'] }}</option>
		{% endfor %}
	</select>
	</label>