{% extends "layout.html" %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
<div class="app-content">
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		<div class="tile">
		<h3 class="tile-title">{{ params['title'] }}</h3>
		<div class="tile-body">
			<form class="form-horizontal" id="resetPassword" action="/User/postResetPassword" method="post">
				<input type="hidden" name="user_id" id="user_id" value="{{ params['user'] }}" />
			<div class="form-group row">
				<label class="control-label col-md-3">New Password</label>
				<div class="col-md-8">
					<input class="form-control col-md-8" placeholder="Enter new password" type="password" name="password">
				</div>
			</div>
			<div class="form-group row">
				<label class="control-label col-md-3">Confirm New Password</label>
				<div class="col-md-8">
					<input class="form-control col-md-8" placeholder="Enter new password again" type="password" name="co_password">
				</div>
			</div>
			<div class="tile-footer">
				<div class="row">
					<div class="col-md-8 col-md-offset-3">
						<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Reset Password</button>&nbsp;&nbsp;&nbsp;<a class="btn btn-danger" href="/User/getUsers"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</a>
					</div>
				</div>
			</div>
			</form>
		</div>
		</div>
	</div>
</div>
</div>
{% endblock %}