{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="tile">
				<a href="/User/getNewRole" class="btn btn-xs btn-primary pull-right"><i class="fa fa-plus-circle"></i> Add Role</a>
				<h3 class="tile-title">{{ params['title'] }}</h3>
				<div class="tile-body">
					<div class="table-responsive">
						<table class="table table-dark" id="users">
							<thead>
								<tr>
									<th>Sr. No.</th>
									<th>Role ID</th>
									<th>Name</th>
									<th>Description</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								{% for key,value in params['data'] %}
								<tr>
									<td>{{ key+1 }}</td>
									<td>{{ value['role_id'] }}</td>
									<td>{{ value['role_name'] }}</td>
									<td>{{ value['role_desc'] }}</td>
									<td><a href="/User/getUpdateRole?id={{ value['role_id'] }}" title="Update Role"><i class="fa fa-edit"></i></a> &nbsp; <a href="/User/getPrivileges?id={{ value['role_id'] }}" title="Update Role Privileges"><i class="fa fa-check-square"></i></a></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/vali/js/plugins/sweetalert.min.js"></script>
	<script src="/vali/js/plugins/jquery.dataTables.min.js"></script>
	<script src="/vali/js/users.js"></script>
</div>
{% endblock %}