{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<style type="text/css">
	h6.titleBar, h5 {
		margin: 15px 0;
	}
    h5 {
        margin-bottom: 0;
    }
	div.box {
		height: 200px;
		overflow-y: scroll;
        border: 1px solid #cacaca;
        background: #FAFAFA;
		border: 2px solid #ced4da;
		border-radius: 4px;
	}
    .elementBox {
		/* margin: 0 15px; */
        padding: 10px;
        border: 2px solid #ced4da;
		border-radius: 4px;
    }
</style>
<div class="app-content">
		<form class="form-horizontal" method="post" action="/User/{{ params['action'] }}">
	<div class="row">
			<div class="col-md-6">
				<div class="tile">
					<h3 class="tile-title">{{ params['title'] }}</h3>
					<div class="tile-body">
						<div class="form-group row">
							<label class="control-label col-md-3">Name *</label>
							<div class="col-md-8">
								<input class="form-control" placeholder="Enter full name" type="text" maxlength="25" name="name" value="{{ params['data']['name'] }}" required />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Mobile number *</label>
							<div class="col-md-8">
								<input class="form-control" placeholder="Enter Mobile Number" type="text" maxlength="10" name="mob_number" value="{{ params['data']['mob_number'] }}" required />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Email</label>
							<div class="col-md-8">
								<input class="form-control email" placeholder="Enter Email Address" type="email" maxlength="50" data-current="{{ params['data']['email'] }}" name="email" value="{{ params['data']['email'] }}" />
								<small class="error hide" id="errorEmail"></small>
							</div>
						</div>
						{% if params['current-role'] == 16 %}
						<div class="form-group row">
							<label for="role" class="control-label col-md-3">System Role *</label>
							<div class="col-md-8">
								<select name="role" id="role" class="form-control" required>
									<option value=""> -- Select -- </option>
									{% for key,value in params['roles'] %}
										<option value="{{ value['role_id'] }}"{% if value['role_id'] in params['user-roles'] %} selected{% endif %}>{{ value['role_name'] }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div class="form-group row">
							<label for="state" class="control-label col-md-3">State</label>
							<div class="col-md-8">
								<select name="state_code" id="state" class="form-control" required>
									<option value=""> -- Select -- </option>
									{% for key,value in params['states'] %}
										<option value="{{ value['state_code'] }}"{% if(value['state_code'] == params['selected-state']) %} selected{% endif %}>{{ value['state_name'] }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						{% else %}
						<input type="hidden" name="role" id="role" value="15" />
						<input type="hidden" name="state_code" id="state" value="{{ params['state'] }}" />
						{% endif %}
						<div class="form-group row">
							<label class="control-label col-md-3" for="user_id">User ID *</label>
							<div class="col-md-8">
								<input type="text" maxlength="20" class="form-control user" id="user_id" placeholder="Enter User ID" data-current="{{ params['data']['user_id'] }}" name="user_id" value="{{ params['data']['user_id'] }}" required />
								<small class="error hide" id="errorId"></small>
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Password{% if params['action'] == 'postNewUser' %} *{% endif %}</label>
							<div class="col-md-8">
								<input class="form-control" placeholder="Enter password" type="password" maxlength="20" name="password"{% if params['action'] == 'postNewUser' %} required{% endif %} />
							</div>
						</div>
						<div class="form-group row">
							<label class="control-label col-md-3">Retype Password{% if params['action'] == 'postNewUser' %} *{% endif %}</label>
							<div class="col-md-8">
								<input class="form-control" placeholder="Enter password again" type="password" maxlength="20" data-match="#password" name="re_password"{% if params['action'] == 'postNewUser' %} required{% endif %} />
							</div>
						</div>
					</div>
					<div class="tile-footer">
						<div class="row">
							<div class="col-md-8 col-md-offset-3">
								<button class="btn btn-primary" type="submit"><i class="fa fa-fw fa-lg fa-check-circle"></i>Save User Details</button>
								<button class="btn btn-danger" type="button" onclick="window.location = '/User/getUsers';"><i class="fa fa-fw fa-lg fa-times-circle"></i>Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% if params['current-role'] == 3 and params['sessionId'] != params['user']%}
			<div class="col-md-6">
				<div class="tile">
					<div class="tile-body">
							<h6 class="titleBar">Assign Regions to User</h6>
							<div class="row">
								<div class="col-md-3">
									<label> Select Region Type*: 
										<select name="region_type" id="region_type" class="form-control" data-select="{{ params['selection'] }}" data-load="{{ params['top-region'] }}" data-user="{{ params['user'] }}" data-type="{{ params['region-type'] }}" required>
											<option value=""> -- Select -- </option>
										</select>
									</label>
								</div>
							</div>
							<div class="row" id="hierarchy">
								
							</div>
							<div class="col-md-12">
								<div class="row" id="region_data">
									<div class="col-md-6 box" id="region">
										<h6>Select Entries</h6>
										<div class="entries">
										</div>
									</div>
									{% if params['selection'] == 'multiple' %}
									<div class="col-md-6 box" id="selected_region">
										<h6>Selected Entries</h6>
										<div class="entries">

										</div>
									</div>
									{% endif %}
								</div>
							</div>
					</div>
				</div>
			</div>
			{% endif %}
	</div>
</form>
</div>
<script src="/vali/js/user-add.js"></script>
{% endblock %}