{% extends "layout.html" %}

{% block title %} {{ params['title'] }} {% endblock %}

{% block content %}
<div class="app-content">
	<div class="row">
		<div class="col-md-12 col-sm-12">
			<div class="tile">
				{% if params['roles-available'] %}
				<div class="pull-right">
					<a href="/User/getNewUser" class="btn btn-xs btn-primary"><i class="fa fa-plus-circle"></i> Add User</a>
				</div>
				{% endif %}
				<h3 class="tile-title">{{ params['title'] }}</h3>
				<div class="tile-body">
					<div class="table-responsive">
						<table class="table table-dark" id="users">
							<thead>
								<tr>
									<th width="5%">Sr. No.</th>
									<th>Name</th>
									<th>Username</th>
									<th>Mobile</th>
									<th>Email Address</th>
									<th width="20%">Role</th>
									<th width="10%">Actions</th>
								</tr>
							</thead>
							<tbody>
								{% set cnt = 1 %}
								{% for key,value in params['data'] %}
								{% set user_id = value['user_id'] %}
								<tr>
									<td>{{ cnt }}</td>
									<td>{{ value['name'] }}</td>
									<td>{{ value['user_id'] }}</td>
									<td>{{ value['mob_number'] }}</td>
									<td>{{ value['email'] }}</td>
									<td>{% if params['user-roles'][user_id] is defined %} {{ params['user-roles'][user_id]|join(', ') }} {% endif %}</td>
									<td><a href="/User/getUpdateUser?id={{ value['user_id'] }}" title="Edit Record"><i class="fa fa-edit"></i></a> <a href="/User/getResetPassword?id={{ value['user_id'] }}" title="Reset Password"><i class="fa fa-key"></i></a></td>
								</tr>
								{% set cnt = cnt+1 %}
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/vali/js/plugins/sweetalert.min.js"></script>
	<script src="/vali/js/plugins/jquery.dataTables.min.js"></script>
	<script src="/vali/js/users.js"></script>
</div>
{% endblock %}