{% for key,value in params['regions'] %}
<div class="form-check">
	<label class="form-check-label entry">
		<input class="form-check-input region" id="select_region_{{ params['type'] }}_{{ value['id'] }}" type="checkbox" name="select_region[]" value="{{ value['id'] }}"{% if value['id'] in params['selected'] %} checked{% endif %} /> {{ value['name'] }}
	</label>
</div>
{% endfor %}